html {
    border: 1px solid red;
    background-color: hsl(0, 0%, 15%);
}
#main_body {
    box-sizing: border-box;
    width: 99vw;
    height: 98vh;
    display: flex;
    flex-wrap: wrap;

}
#main_section {
    max-width: 100%;
    height: 100%;
    margin: auto 20%;
    box-sizing: border-box;
    background-image: url('boardx.png');
    background-position: center;
    background-size: auto 98vh;
    background-repeat: no-repeat;
}

#piece_container {
    box-sizing: border-box;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8,12.5%);
}
#piece_container img {
    box-sizing: border-box;
    border: 4px solid red;
    width: 100%;
    height: 100%;
}
#button_group {
    position: fixed;
    left: 0;
    top: 0;
    width: 10%;
    height: 10%;
}
#button_group button {
    font-size: xx-large;
}